
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 确保包含 Tailwind 指令和 HeroUI 样式 */
@layer base {
  html {
    font-family: theme('fontFamily.sans');
  }
}

html, body, #__next {
  min-width: 360px; /* 与 logo 最大宽度保持一致 */
  scroll-behavior: smooth;
}

.clip-trapezoid {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
}

/* 覆盖 HeroUI Navbar 内部 header 的 max-width 限制 */
:where(nav) > header {
  max-width: 1920px !important;
}

#application {
  position: relative;
  padding-top: 112px;   /* 这里的100px根据导航栏高度调整 */
  margin-top: -100px;
}